*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenido1, .contenido2, .contenido3{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 768px;
    border-color: black;
    border-width: solid;
    
}